{ "apps":[
   ]
 ,"masterPaths":["/svc/Login"
                 ,"/svc/Logout"
                 ,"/svc/user/token"
                 ,"/svc/tenantList"
                 ,"/svc/user/guest/registration"
                 ,"/svc/user/onboarding"
                 ,"/svc/user/forgotPswd"
                 ,"/svc/user/setPswd"
                 ,"/svc/user/account"
                 ,"/svc/admin/tenants"
                 ,"/svc/admin/tenants/create"
                 ,"/svc/admin/tenants/startJob"
                 ,"/svc/admin/tenants/files/list"
                 ,"/svc/admin/tenants/files"
                 ,"/svc/admin/tenants/jobs"
                 ,"/svc/admin/tenants/jobs/details"
                 ,"/svc/admin/tenants/jobFiles/messages"
                 ,"/svc/admin/user/invite"
                 ,"/svc/admin/users"
                 ,"/svc/admin/user/roles"
                 ,"/svc/admin/user"
                 ,"/svc/admin/user/validation"
                 ,"/svc/Verifications"
                 ,"/svc/test"
                 ,"/svc/MyTenantList"
                 ,"/svc/config"
                 ,"/svc/SelectedTenant"
                 ,"/svc/covid/data"
                 ,"/svc/covid/history"
                 ,"/svc/covid/symptoms/create"
                 ,"/svc/formsapp/create"
   ]
 ,"authPassthroughs": [
     "/home.jsp"
    ,"/svc/user/token"
    ,"/svc/Login"
    ,"/svc/Logout"
    ,"/svc/Signup"
    ,"/svc/user/forgotPswd"
    ,"/svc/user/setPswd"
    ,"/svc/user/guest/registration"
    ,"/svc/user/onboarding"
    ,"/svc/passwordRules"
    ,"/svc/Verifications"
    ,"/svc/test"
    ,"/svc/config"
    ,"/svc/covid/data"
    ,"/svc/covid/history"
    ,"/svc/covid/symptoms/create"
    ,"/svc/formsapp/create"
   ]
}
